.intro-section{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
  position: relative;
}

.intro-text{
  color: white;
  font-size: calc(1em + 2.5vw);
  position: absolute;
  border-top: 0.1em solid white;
  border-bottom: 0.1em solid white;
}

.hidden-intro{
  display: none;
}
