*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root{
  --bgColor: #282828;
  --bgLighterColor: #4B4B4B;
  --bgLighterWithOpacity: #4B4B4BCD;
}
